<footer class="main-footer">
    <strong>Copyright &copy; @DateTime.Now.Year <a href="http://adminlte.io">Admin Panel</a>.</strong> Tüm Hakları Saklıdır.
</footer>

<aside class="control-sidebar control-sidebar-dark">
</aside>
